.navbar-container {
  width: 100%;
  height: 100px;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: #1C1A1C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

 
.profile-container .profile {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-left: 20px;
}

.nav-btn-container {
  display: flex;
}

@media (max-width: 768px) {
 
}

@media (max-width: 576px) {
  .navbar-container {
 
    height: 50px;
  

  }
  .profile-container .profile {
    width: 30px;
    height: 30px;
     
  }
}

