.player-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  color: ghostwhite;
  /* overflow: hidden; */
}

.left-player-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.right-player-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .right-player-body {
    flex-direction: row;
    align-items: start;
    padding-top: 0rem;
  }
}

@media (max-width: 576px) {
}
