@import url("./components/shared/globalStyles..css");
*{
  text-decoration: none;
  border: none;
}
.App.dark {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: ghostwhite;

}

.App.light {
  width: 100%;
  height: 100vh;
  background-color: black;
}
